extends layout.pug

block content
  .header
      a.logo Les petits pedestres
      .header-right
        a(href="/")
          svg.bi.bi-house-door(width='1em' height='1em' viewbox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg')
              path(fill-rule='evenodd' d='M7.646 1.146a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 .146.354v7a.5.5 0 0 1-.5.5H9.5a.5.5 0 0 1-.5-.5v-4H7v4a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .146-.354l6-6zM2.5 7.707V14H6v-4a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v4h3.5V7.707L8 2.207l-5.5 5.5z')
              path(fill-rule='evenodd' d='M13 2.5V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z')
  section.container.mt-1
    #content
      table.table.table-bordered
        thead.thead-light
          tr
            th(scope='col') Nom
            th(scope='col') Url
            th(scope='col' style='width:50px') Créer
        tbody
        thead.thead-light
          form(action="pictures/create", method="POST")
            tr
              th(scope='col')
                input(type='text' name='name' placeholder='Name')
              th(scope='col')
                input(type='text' name='url' placeholder='Url')
              th(scope='col')
                input#creer(type='submit' value='Creer')
        tbody

      table.table.table-bordered
        thead.thead-light
          tr
            th(scope='col') Id
            th(scope='col') Nom
            th(scope='col') Url
            th(scope='col' style='width:50px') Supprimer
            th(scope='col' style='width:50px') Modifier
        tbody
          each item in pictures
            thead.thead-light
            form
              tr
                th(scope='col')
                  input(type='text' name='idPicture' value=item._id readonly)
                th(scope='col')
                  input(type='text' name='name' value=item.name)
                th(scope='col')
                  input(type='text' name='url' value=item.url)
                th(scope='col')
                  input#attention(type='submit' value='Supprimer' formaction="pictures/delete" formmethod="POST")
                th(scope='col')
                  input#update(type='submit' value='Modifier' formaction="pictures/update" formmethod="POST")
