body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#input {
    background-color: dodgerblue;
}

.dim {
    height: 60vh;
    width: 80vw;
    position: relative;
    right: 10vw;
    left: 10vw;
    background: dodgerblue;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 30px;
}

.header {
    overflow: hidden;
    background-color: white;
    padding: 20px 10px;
    color: dodgerblue;
}

/* Style the header links */
.header a {
    float: left;
    color: dodgerblue;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
    background-color: white;
    color: dodgerblue;
}

#attention {
    background-color: #dc3545;
}

#update {
    background-color: #28a745;
}

#carouselExampleInterval {
    width: 1080px;
    height: 720px;
}

img {
    width: 1080px;
    height: 720px;
}

.container {
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Style the active/current link*/
.header a.active {
    background-color: dodgerblue;
    color: white;
}

/* Float the link section to the right */
.header-right {
    float: right;

}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div.crud {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
        font-weight: bold;
        text-align: center;
    }

    .header-right {
        float: none;
    }

    .header a.logo {
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        position: relative;
    }
}

@media screen and (max-width: 2000px) {
    .dim {
        height: 60vh;
        width: 80vw;
        position: relative;
        right: 18vw;
        left: 10vw;
        background: dodgerblue;
        text-align: center;
    }
}